# Torch з підтримкою CUDA 11.8: встановлювати так:
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

torch>=2.0.0
torchvision
torchaudio

pandas==2.3.0
scikit-learn==1.7.0
transformers>=4.30.0
spacy>=3.5.0
fastapi>=0.95.0
uvicorn>=0.20.0
pydantic>=1.10.0